<ol class="c-social-nav">
    <li class="c-social-nav__item">
        <a href="mailto:ashleyrobbins3@gmail.com" target="_blank" class="c-social-nav__link">
            <i class="fas fa-at"></i>
        </a>
    </li>
    <li class="c-social-nav__item">
        <a href="http://www.twitter.com/ash_robbins" target="_blank" class="c-social-nav__link">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="c-social-nav__item">
        <a href="http://www.github.com/ashrobbins" target="_blank" class="c-social-nav__link">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li class="c-social-nav__item">
        <a href="http://www.codepen.io/ashrobbins" target="_blank" class="c-social-nav__link">
            <i class="fab fa-codepen"></i>
        </a>
    </li>
</ol>
