.c-site-footer {
    background-color: $primary-colour;
    color: $black;

    .c-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 1.2rem 0;
    }
}

.c-copyright {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    color: $black;
}

.c-social-nav {
    display: flex;
    margin: 0 0 0 auto;
    list-style: none;

    &__item {
        margin-left: 1.6rem;
        margin-bottom: 0;
    }

    &__link {
        color: $black;
    }

    &__link:hover {
        text-decoration: underline;
    }

    .svg-inline--fa.fa-w-16 {
        width: 18px;
    }
}
