/******************************************
HEADER
******************************************/
.c-header {
    display: flex;
    width: 100%;
    margin: 0 auto 3rem;
    padding: rem-calc(20 0);
}
.c-header--single {
    margin-bottom: rem-calc(30);
}
.c-header .heading__page {
    position: relative;
    margin: rem-calc(0 0 20);
}
.c-header__home-link {
    display: block;
    color: $black;
}
