/******************************************
HEADER
******************************************/
.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3rem;
    padding: rem-calc(20 0);
}
.c-header--single {
    margin-bottom: rem-calc(30);
}
.c-header .heading__page {
    position: relative;
    margin: rem-calc(0 0 20);
}
.c-header__home-link {
    display: block;
    color: $black;
}

.tag-nav {

    .tag {
        margin-bottom: 0;
        font-size: 16px;

        a {
            padding: 6px 10px;
        }
    }

    .tag + .tag {
        margin-left: 20px;
    }
}
