/******************************************
LOGO
******************************************/
.c-logo,
.c-logo:visited {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url('/assets/img/logo-white.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    text-indent: -9999px;

    &:hover {
        background-image: url('/assets/img/logo-yellow.png');
    }
}
