/******************************************
NAV
******************************************/

.c-nav {
    display: block;
    margin: 0;
    margin-left: auto;

    &__list {
        display: flex;
        margin: 0;
    }

    &__item {
        margin-left: 3rem;
    }

    &__link {
        display: inline-block;
        position: relative;
        color: $white;
        font-family: $title-font;
        font-size: rem-calc(20);
        font-weight: 700;
        border: 0;
    
        &:visited {
            color: $white;
        }
        &:hover,
        &.router-link-active {
            color: $primary-colour;
        }
    }
}

.c-nav__social .c-nav__item {
    display: inline-block;
}
.c-nav__social .c-nav__item + .c-nav__item {
    margin-left:rem-calc(50);
}

.c-header--home .c-nav__link {
    color: $white;

    &:hover {
        color: $primary-colour;
    }
}

@include bp_max(700) {
    .c-nav,
    .c-nav-trigger {
        width: rem-calc(120);
        height: rem-calc(120);

        &:hover {
            width: rem-calc(120);
            height: rem-calc(120);
        }
        &:hover path {
            fill: $white;
        }
        &.open:hover {
            width: 200%;
            height: 200%;
        }
    }
    .c-nav-trigger svg {
        top: 1.6vh;
        right: 1.6vh;
        width: rem-calc(30);
        height: rem-calc(30);
    }
    .c-nav__link {
        font-size: rem-calc(30);
    }
}
