/******************************************
NAV
******************************************/

.c-nav {
    display: block;
    margin: 0;
    margin-left: auto;

    &__list {
        display: flex;
        margin: 0;
    }

    &__item {
        margin-left: 3rem;
    }

    &__link {
        display: block;
        position: relative;
        color: $white;
        font-family: $title-font;
        font-size: rem-calc(20);
        font-weight: 700;
        border: 0;
    
        &:visited {
            color: $white;
        }
        &:hover,
        &.router-link-active {
            color: $primary-colour;
        }

        @media (max-width: 700px) {
            font-size: 1.6rem;
        }
    }
}

.c-nav__social .c-nav__item {
    display: inline-block;
}
.c-nav__social .c-nav__item + .c-nav__item {
    margin-left:rem-calc(50);
}

.c-header--home .c-nav__link {
    color: $white;

    &:hover {
        color: $primary-colour;
    }
}
