/******************************************
POST LIST
******************************************/
.c-post-list__item {
    overflow: hidden;
    margin-bottom: 2rem;
}
.c-post-list__link {
    position: relative;
    color: $white;

    &:visited {
        color: $white;
    }

    &:hover {
        color: $primary-colour;
    }
}
