/******************************************
POST LIST
******************************************/
.c-post-list__item {
    overflow: hidden;
    margin-bottom: rem-calc(50);
}
.c-post-list__link {
    position: relative;
    color: $white;

    &:visited {
        color: $white;
    }

    &:hover {
        color: $primary-colour;
    }
}
