/******************************************
POST LIST
******************************************/
.c-post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-post-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem-calc(60);
}

.c-post-list__link {
    position: relative;
    color: $white;

    &:visited {
        color: $white;
    }

    &:hover {
        color: $primary-colour;
    }
}
