/******************************************
POST
******************************************/
.c-post__meta {
    display: flex;
    margin-bottom: 4rem;
    font-size: 2rem;

    &-on {
        margin-right: .4rem;
    }

    &-in {
        margin: 0 .4rem;
    }

    @media (max-width: 900px) {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }

    @media (max-width: 600px) {
        font-size: 1.4rem;
    }
}
.c-post__tags {
    list-style: none;
    display: flex;
    margin: 0;
}
.c-post__tag {
    font-weight: 700;

    & + &:before {
        content: ", ";
        font-weight: 400;
    }

    &__link {

        &:before {
            display: none;
        }
    }
}
.c-post {
    max-width: 73rem;
    margin: auto;

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: rem-calc(30);
    }
    h2 {
        font-size: rem-calc(34);
        font-weight: 900;
    }
    h3 {
        font-size: rem-calc(30);
        font-weight: 900;
    }
    h4 {
        font-size: rem-calc(26);
    }
    h5 {
        font-size: rem-calc(22);
    }
    h6 {
        font-size: rem-calc(18);
    }
    // a {
    //     position: relative;

    //     &:before {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         right: rem-calc(1);
    //         bottom: rem-calc(-3);
    //         left: rem-calc(1);
    //         height: rem-calc(2);
    //         background-color: $black;
    //         transform: scaleX(0);
    //         transform-origin: 100% 50%;
    //         transition: transform .4s cubic-bezier(.23,1,.32,1);
    //     }
    //     &:hover:before {
    //         transform: scaleX(1);
    //         transform-origin: 0 50%;
    //         transition: transform 0 .4s cubic-bezier(.23,1,.32,1);
    //     }
    // }
    pre,
    code {
        border: 0;
        border-radius: 0;
    }
    pre {
        margin: 3rem 0;
        padding: 2rem 3rem;
        background-color: $dark-grey;
        border-left: .5rem solid $yellow;

        code {
            padding: 0;
            color: $body-text;
            background-color: transparent;
        }
    }
    code {
        padding: rem-calc(3 6);
        color: $yellow;
        background-color: $dark-grey;
        font-size: rem-calc(16);
    }
    blockquote {
        margin: 3rem 0;
        padding: 2rem 3rem;
        border-left: 10px solid $primary-colour;
        background-color: rgba(255, 81, 88, .1);
        font-family: $serif-font;
        font-size: 1em;
        color: $body-text;
    }

    &__content {
        font-family: Georgia;
        color: #ddd;
    }

    .highlight {

        .s2 {
            color: $yellow;
        }
    }
}

@include bp_max(600) {
    .c-post__date {
        font-size: rem-calc(13);

        time {
            padding: rem-calc(3 0);
        }
    }
}

@include bp_max(500) {
    .c-post {
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: rem-calc(20);
        }
        h2 {
            font-size: rem-calc(22);
        }
        h3 {
            font-size: rem-calc(20);
        }
        h4 {
            font-size: rem-calc(18);
        }
        h5 {
            font-size: rem-calc(16);
        }
        h6 {
            font-size: rem-calc(14);
        }
    }
}
