---
layout: default
---
<article class="c-post h-entry">

  <header class="c-post__header">
    <div class="c-post__meta">
      <time class="c-post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.tags %}
        <ul class="tags">
          {% for tag in page.tags %}
            <li class="tag tag--{{ tag }}">
              <a href="/tag/{{ tag }}/">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </header>

  <div class="c-post__content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
